In [3]:
# -*- coding: utf-8 -*-

import os, sys
import pandas as pd
import numpy as np

sys.path.append(os.path.abspath(os.getcwd()))

In [13]:
path_databases = os.path.join(os.getcwd() + '/../../databases')
df = pd.read_csv(path_databases + "/credit_data.csv")

df.info

<bound method DataFrame.info of       i#clientid        income        age         loan  c#default
0              1  66155.925095  59.017015  8106.532131          0
1              2  34415.153966  48.117153  6564.745018          0
2              3  57317.170063  63.108049  8020.953296          0
3              4  42709.534201  45.751972  6103.642260          0
4              5  66952.688845  18.584336  8770.099235          1
...          ...           ...        ...          ...        ...
1995        1996  59221.044874  48.518179  1926.729397          0
1996        1997  69516.127573  23.162104  3503.176156          0
1997        1998  44311.449262  28.017167  5522.786693          1
1998        1999  43756.056605  63.971796  1622.722598          0
1999        2000  69436.579552  56.152617  7378.833599          0

[2000 rows x 5 columns]>

In [11]:
df.loc[df.age < 0, "age"] = 40.92  # df.age[df.age > 0].mean())

In [12]:
df.shape

(2000, 5)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   i#clientid  2000 non-null   int64
 1   income      2000 non-null   float64
 2   age         1997 non-null   float64
 3   loan        2000 non-null   float64
 4   c#default   2000 non-null   int64
dtypes: float64(3), int64(2)
memory usage: 78.2 KB

In [14]:
df.describe()

        i#clientid        income          age          loan    c#default
count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.807559   4444.369695     0.141500
std     577.494589  14326.327119    13.624469   3045.410024     0.348624
min       1.000000  20014.489470   -52.423280      1.377630     0.000000
25%     500.750000  32796.459717    28.990415   1939.708847     0.000000
50%    1000.500000  45789.117313    41.317159   3974.719419     0.000000
75%    1500.250000  57791.281668    52.587040   6432.410625     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

In [15]:
previsores = df.iloc[:, 1:4].values
classe = df.iloc[:, 4]

In [16]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values=np.nan, strategy="mean")
imputer = imputer.fit(previsores[:, 1:4])

In [17]:
previsores[:, 1:4] = imputer.transform(previsores[:, 1:4])

In [18]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
previsores = scaler.fit_transform(previsores)

In [19]:
from sklearn.model_selection import train_test_split

(
    previsores_trainamento,
    previsores_teste,
    classe_treinamento,
    classe_teste,
) = train_test_split(previsores, classe, test_size=0.25, random_state=0)

In [27]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=10, criterion="entropy", random_state=0)
rf = rf.fit(previsores_trainamento, classe_treinamento)
forecast = rf.predict(previsores_teste)

In [28]:
from sklearn.metrics import confusion_matrix, accuracy_score

precision = accuracy_score(classe_teste, forecast)
matrix = confusion_matrix(classe_teste, forecast)