# Relatório de Análise I

#### Importando a Base de Dados

In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_csv('../data/aluguel2.csv', sep=";")
# df_json = pd.read_json('../data/aluguel.json')
# df_txt = pd.read_table('../data/aluguel.txt')
# df_xlsx = pd.read_excel('../data/aluguel.xlsx')
# df_html = pd.read_html('../data/dados_html_1.html')

##### Infomações Gerais sobre a Base de Dados

In [ ]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns=["Tipos de Dados"])
tipos_de_dados.columns.name ='Variaveis'
tipos_de_dados

In [ ]:
print('A Base de dados apresenta {} registros (imóveis) e {} variáveis'.format(dados.shape[0], dados.shape[1]))

##### Descrição

In [ ]:
dados.describe()

##### Os 10 primerios resultados

In [ ]:
dados.head(10)

##### Tipos de Imóveis

In [ ]:
dados['Tipo']

In [ ]:
tipo_de_imovel = dados['Tipo']
type(tipo_de_imovel)

In [ ]:
tipo_de_imovel.drop_duplicates(inplace=True)
tipo_de_imovel

##### Organizando a Visualização

In [ ]:
tipo_de_imovel = pd.DataFrame(tipo_de_imovel)
tipo_de_imovel.index = range(tipo_de_imovel.shape[0])
tipo_de_imovel.columns.name = 'Id'
tipo_de_imovel

In [ ]:
series = {'Linha' + str(i): i + 1 for i in range(5)}
s = pd.Series(series)

In [ ]:
s2 = s + 2
s2

##### Filtro - Imóveis Residenciais

In [ ]:
list(dados['Tipo'].drop_duplicates())

In [ ]:
residenciais = ['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [ ]:
selecao = dados['Tipo'].isin(residenciais)
dados_residenciais = dados[selecao]
dados_residenciais

In [ ]:
dados_residenciais.shape

In [ ]:
dados_residenciais.index = range(dados_residenciais.shape[0])

##### Exportando a Base de Dados

In [ ]:
# dados_residenciais.to_csv('../data/aluguel_residencial.csv', sep=";", index=False)
dados_residenciais2 = pd.read_csv('../data/aluguel_residencial.csv', sep=";")

##### Selecionar somente os imóveis classificados com tipo "Apartamento"

In [ ]:
# dados_residenciais2[dados_residenciais2["Tipo"] == "Apartamento"]
query = """Tipo == 'Apartamento'"""
n1 = dados_residenciais2.query(query)
n1.shape[0]

##### Selecionar os imóveis classificados com tipos "casa de condomínio", "casa" e "casa de vila"

In [ ]:
query = """Tipo == 'Casa' | Tipo == 'Casa de Vila' | Tipo == 'Casa de Condomínio'"""
n2 = dados_residenciais2.query(query)
n2.shape[0]

##### Selecionar os imóveis com área entre 60 e 100 quadrado incluindo os limites

In [ ]:
query = """Area >= 60 & Area <= 100"""
n3 = dados_residenciais2.query(query)
n3.shape[0]

##### Selecionar os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00

In [ ]:
query = """Suites >= 4 & Valor < 2000"""
n4 = dados_residenciais2.query(query)
n4.shape[0]

In [ ]:
columns = ['imovel_tipo_apartamento', 'imovel_tipo_casa', 'imovel_area_60_e_100','imovel_suite_valor']
data = [[n1.shape[0], n2.shape[0], n3.shape[0],n4.shape[0]]]

result = pd.DataFrame(columns=columns, data=data)
result

##### Tratamento de Dados faltantes

In [ ]:
df = pd.read_csv('../data/aluguel_residencial.csv', sep=";")
df.head(10)

In [ ]:
df.info()

In [ ]:

# df[df['Valor'].isnull()]
# df[df['Valor'].isna()]
df.dropna(subset=['Valor'], inplace=True)
selecao = (df["Condominio"].isnull() & df['Tipo'] == 'Apartamento')
df = df[~selecao]

In [ ]:
# df.fillna(0, inplace=True)
df = df.fillna({'Condominio': 0, 'IPTU': 0})

In [ ]:
df[df['Condominio'].isnull()].shape[0]

In [ ]:
df[df['IPTU'].isnull()].shape

In [ ]:
df.info()

##### Selecionar o valor bruto de cada imovel

In [ ]:
df = pd.read_csv('../data/aluguel_residencial2.csv', sep=";")
df['Valor Bruto'] = df["Valor"] + df["Condominio"] + df["IPTU"]

##### Valor por metro quadrado

In [ ]:
df["Valor m2"] = (df["Valor"] / df["Area"]).round(2)

In [ ]:
df["Valor Bruto m2"] = (df["Valor Bruto"] / df["Area"]).round(2)

##### Fazendo a seleção de Casas

In [ ]:
casas = ['Casa', 'Casa de Condomínio', 'Casa de Vila']
df["Tipo Agregado"] = df["Tipo"].apply(lambda x: 'Casa' if x in casas else 'Apartamento')

##### Fazendo a remoção de variáveis no DataFrame

In [ ]:
df_aux = pd.DataFrame(df[['Tipo Agregado', 'Valor m2', 'Valor Bruto', 'Valor Bruto m2']])

In [ ]:
# del df_aux['Valor Bruto m2']
# df_aux

In [ ]:
# df_aux.pop('Valor Bruto')
# df_aux

In [ ]:
# axis=1 para colunas
# axis=0 para linhas
df.drop(['Valor Bruto m2', 'Valor Bruto'], axis=1, inplace=True)
# df.to_csv('../data/aluguel_residencial3.csv', sep=";", index=False)

##### Fazendo a contagem de repetições

In [ ]:
df = pd.read_csv('../data/aluguel_residencial3.csv', sep=";")

In [ ]:
df.Tipo.unique()

In [ ]:
df.Tipo.value_counts()

##### Fazendo Agrupamento

In [ ]:
selecao = df['Bairro'].isin(['Barra da Tijuca', 'Copacabana','Ipanema', 'Leblon', 'Botafogo','Flamengo', 'Tijuca'])
df = df[selecao]
df['Bairro'].drop_duplicates()

In [ ]:
grupo_bairro = df.groupby('Bairro')
type(grupo_bairro)

##### Fazendo a média de valores para cada bairro

In [ ]:
for bairro, dataframe in grupo_bairro:
  print('{} => {}'.format(bairro, dataframe.Valor.mean()))

In [ ]:
grupo_bairro.Valor.mean().round(2)

In [ ]:
grupo_bairro[['Valor', 'Condominio']].mean().round(2).sort_values(by=['Valor'], ascending=False)

##### Estatísticas Descritivas

In [ ]:
grupo_bairro['Valor'].describe().round(2)

In [ ]:
grupo_bairro['Valor'].aggregate(['min', 'max', 'sum', 'mean', 'std']).round(2).sort_values(by=['max'], ascending=False)

In [ ]:
grupo_bairro['Valor'].aggregate(['min', 'max', 'sum', 'mean', 'std']).round(2).sort_index()

In [ ]:
grupo_bairro['Valor'].aggregate(['min', 'max',]).rename(columns={'min':'Valor mínimo', 'max':'Valor máximo'}).round(2).sort_values(by=['Valor máximo'], ascending=False)

In [ ]:
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(20, 10))
fig = grupo_bairro['Valor'].mean().plot.bar(color='green')
fig.set_ylabel('Valor do Aluguel')
fig.set_title('Valor Médio do Aluguel por Bairro', {'fontsize': 20})

##### Fazendo a seleção categorizada por quartos

In [ ]:
df = pd.read_csv('../data/aluguel_residencial3.csv', sep=";")

In [ ]:
classes = [0, 2, 4, 6, 100]
quartos = pd.cut(df.Quartos, classes)
pd.value_counts(quartos)

In [ ]:
labels = ['1 e 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 ou mais quartos']
quartos = pd.cut(df.Quartos, classes, labels=labels)
pd.value_counts(quartos)

In [ ]:
quartos = pd.cut(df.Quartos, classes, labels=labels, include_lowest=True)
pd.value_counts(quartos)

##### Removendo Outliers

In [ ]:
df.boxplot(['Valor'])

In [ ]:
valor = df['Valor']

In [ ]:
Q1 = valor.quantile(.25)
Q3 = valor.quantile(.75)
IIQ = Q3 - Q1
limite_inferior = Q1 - 1.5 * IIQ
limite_superior = Q3 + 1.5 * IIQ

In [ ]:
selecao = (valor >= limite_inferior) & (valor <= limite_superior)
dados = df[selecao]
dados.boxplot(['Valor'])

In [ ]:
df.hist(['Valor'])
dados.hist(['Valor'])

In [ ]:
df.boxplot(['Valor'], by=['Tipo'])

In [ ]:
grupo_tipo = df.groupby('Tipo')['Valor']
grupo_tipo

In [ ]:
Q1 = grupo_tipo.quantile(.25)
Q3 = grupo_tipo.quantile(.75)
IIQ = Q3 - Q1
limite_inferior = Q1 - 1.5 * IIQ
limite_superior = Q3 + 1.5 * IIQ

In [ ]:
Q1

In [ ]:
dados_new = pd.DataFrame()

for tipo in grupo_tipo.groups.keys():
  e_tipo = df['Tipo'] == tipo
  e_dentro_limite = (df['Valor'] >= limite_inferior[tipo]) & (df['Valor'] <= limite_superior[tipo])
  selecao = e_tipo & e_dentro_limite
  dados_selecao = df[selecao]
  dados_new = pd.concat([dados_new, dados_selecao])

dados_new.boxplot(['Valor'], by=['Tipo'])

In [ ]:
# dados_new.to_csv('../data/aluguel_residencial_sem_outliers.csv', sep=';', index=False)